@media screen and (max-width: 1450px) {


.form {
    background-color: #15172b;
    position: fixed;
    border-radius: 20px;
    box-sizing: border-box;
    height: 790px;
    padding: 20px;
    width: 400px;
  }
  

