<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="navStyle.css">
        <link rel="stylesheet" href="formsHolder.css">
        <link rel="stylesheet" href="restartPassword.css">
        <link rel="stylesheet" href="socialMedia.css">



        <script src="script.js"></script>
        <script src="authScript.js"></script>
        <script src="checkForToken.js"></script>
        <script src="logout.js"></script>
        <script src="restartPasswordPopup.js"></script>
        <script src="restartPasswordScript.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
 	<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  	<!-- Optional theme -->
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>	

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- <script src="scripts/registerFormValidation.js"></script> -->
        <!-- <script src="scripts/registerFormValidation.js"></script> -->
        <!-- <script src="scripts/nav.js"></script> -->
        <!-- <script id="replace_with_navbar" src="scripts/nav.js"></script> -->

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>My Registration V-0.2</title>

       
    </head>
    <!-- <div id="includedContent" style="height: 100%; height: 50%;"></div> -->

    <body onload="checkForToken();">
        <nav id="includedContent" class="main-menu">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa bi bi-house fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa bi bi-laptop fa-2x"></i>
                        <span class="nav-text">
                            Stars Components
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa bi bi-list-columns-reverse fa-2x"></i>
                        <span class="nav-text">
                            Forms
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa bi bi-folder2-open fa-2x"></i>
                        <span class="nav-text">
                            Pages
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-file-earmark-bar-graph-fill fa-2x"></i>
                        <span class="nav-text">
                            Graphs and Statistics
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-boxes fa-2x"></i>
                        <span class="nav-text">
                            Quotes
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-clipboard fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-map fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-info-lg fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
                <li id="userProfile">
                    <a href="userProfile.html">
                        <i class="fa bi bi-person-circle fa-2x"></i>
                        <span class="nav-text">
                            User profile
                        </span>
                    </a>
                </li>


            </ul>


            <!-- <ul class="profile" id="userProfile">
            </ul> -->
            <ul class="logout" id="authreq">

                <!-- <li>
                    <a href="#">
                        <i class="fa bi bi-power fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li> -->
            </ul> 
            <ul class="login" id="authreq">
                <!-- <li>
                    <a href="#">
                        <i class="fa bi bi-box-arrow-in-right fa-2x"></i>
                        <span class="nav-text">
                            Login
                        </span>
                    </a>
                </li>   -->
            </ul> 
        </nav>
        
        <div class="BackgroundImage" id="BackgroundImage"></div>

          <div class="login-wrap">
      <div class="login-html">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign Up</label>
          <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign In</label>
          <!-- <input id="tab-3" type="radio" name="tab" class="sign-up"><label for="tab-3" class="tab">Forgot Password</label> -->
          <div class="login-form">
              <div class="sign-in-htm">
                  <form method="POST" action="">
                      <div class="subtitle">Let's create your account!</div>
                      <div class="input-container ic1 ">
                          <input type="text" id="inputName" class="input" maxlength="28" type="text" placeholder=" " />
                          <div class="cut" style="width: 85px;"></div>
                          <label for="firstname" class="placeholder">First name</label>
                      </div>
                      <div class="input-container ic2 ">
                          <input type="text" id="inputLanme" class="input" maxlength="38" placeholder=" " />
                          <div class="cut" style="width: 80px;"></div>
                          <label for="lastname" class="placeholder">Last name</label>
                      </div>
                      <div class="input-container ic2 ">
                          <input type="text" id="inputEmail" class="input" maxlength="28" placeholder=" " />
                          <div class="cut cut-short"></div>
                          <label for="email" class="placeholder">Email</>
                      </div>
                      <div class="input-container ic2 ">
                          <input type="number" id="phonNumber" class="input" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="15" placeholder=" " />
                          <div class="cut cut-short" style="width: 55px;"></div>
                          <label for="Phone" class="placeholder">Phone</>
                      </div>
                      <div class="input-container ic2 ">
                          <input type="password" id="inputPassword" class="input" maxlength="12" placeholder=" " />
                          <div class="cut" style="width: 80px;"></div>
                          <label for="password" class="placeholder">Password</>
                      </div>
                      <div class="input-container ic2 ">
                          <input type="password" id="inputRePassword" class="input" maxlength="12" placeholder=" " />
                          <div class="cut" style="width: 130px;"></div>
                          <label for="password" class="placeholder">Repeat Password</>
                      </div>
                      <button type="button" class="submit" id="btn" onclick="validate();">Register</button>
      
                      <div class="input-container ic3" id="outputMessage">
                          <h6 class="placeholderoutput"></h6>
                      </div>
                  </form>

                  <div class="hr"></div>
                  <div class="foot-lnk">
                      <label for="tab-2"><a>Already Member?</a></a>
                  </div>
              </div> 
              <div class="sign-up-htm">
                  
                  <form method="POST" action="">
                      <div class="subtitle">Let's create your account!</div>
                    
                      <div class="input-container ic2">
                          <input type="text" id="inputEmaill" class="input" maxlength="28" placeholder=" " />
                          <div class="cut cut-short"></div>
                          <label for="email" class="placeholder">Email</>
                      </div>
                    
                      <div class="input-container ic2">
                          <input type="password" id="inputPasswordd" class="input" maxlength="12" placeholder=" " />
                          <div class="cut" style="width: 80px;"></div>
                          <label for="password" class="placeholder">Password</>
                      </div>
                    
                      <button type="button" class="submit" id="btn" onclick="postAuthData()">Signin</button>
      
                      <div class="input-container ic3" id="outputMessage">
                          <h5 class="placeholderoutput"></h5>
                      </div>
                  </form>
                  <div class="center">
            
                      <div class="hrhr" id="hrhr"></div>
                      <div class="foot-lnk">
                          <label id="open-subscribe-form" onclick="putElem()">
                              <a >Forgot your password?</a>
                          </label>
                      </div>
                      
                      <!-- <button id="open-subscribe-form" onclick="putElem()">
                          Forgot your password?
                      </button> -->
                      <!-- <img src="css/images/restart-password-img.jpg"> -->
                  </div>
                  <div id="pop123">
                      
                  </div>
                    <div id="social-platforms">
                    
                        <a class="btn btn-icon btn-facebook" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        <a class="btn btn-icon btn-googleplus" href="#"><i class="fa fa-google-plus"></i><span>Google+</span></a>
                        <a class="btn btn-icon btn-linkedin" href="#"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a>
                    </div>

              </div>
          </div> 
      </div>
  </div>
        
    </body>
</html>
