<!DOCTYPE html>
<html>
    <head>
        <title>User Profile
        </title>
        <link rel="shortcut icon" href="#">
        

        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="navStyle.css">
        <link rel="stylesheet" href="formsHolder.css">
        <link rel="stylesheet" href="restartPassword.css">
        <link rel="stylesheet" href="socialMedia.css">
        <link rel="stylesheet" href="userProfile.css">

        

        <script src="checkForToken.js"></script>
        <script src="userProfile.js"></script>
        <script src="userProfileEditField.js"></script>
        <script src="logout.js"></script>
        <script src="fetchData.js"></script>
        <script src="profileImage.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   
         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
   
         <!-- Optional theme -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
   
       <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>	
   
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    </head>
    <body onload="checkForToken(); fetchData();">
        <nav id="includedContent" class="main-menu">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa bi bi-house fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa bi bi-laptop fa-2x"></i>
                        <span class="nav-text">
                            Stars Components
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa bi bi-list-columns-reverse fa-2x"></i>
                        <span class="nav-text">
                            Forms
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa bi bi-folder2-open fa-2x"></i>
                        <span class="nav-text">
                            Pages
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-file-earmark-bar-graph-fill fa-2x"></i>
                        <span class="nav-text">
                            Graphs and Statistics
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-boxes fa-2x"></i>
                        <span class="nav-text">
                            Quotes
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-clipboard fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-map fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-info-lg fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
                <li id="userProfile">
                    <!-- <a href="userProfile.html">
                        <i class="fa bi bi-person-circle fa-2x"></i>
                        <span class="nav-text">
                            User profile
                        </span>
                    </a> -->
                </li>


            </ul>


            <!-- <ul class="profile" id="userProfile">
            </ul> -->
            <ul class="logout" id="authreq">

                <!-- <li>
                    <a href="#">
                        <i class="fa bi bi-power fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li> -->
            </ul> 
            <ul class="login" id="authreq">
                <!-- <li>
                    <a href="#">
                        <i class="fa bi bi-box-arrow-in-right fa-2x"></i>
                        <span class="nav-text">
                            Login
                        </span>
                    </a>
                </li>   -->
            </ul> 
        </nav>


        <div class="container emp-profile">
            <!-- <form method="post"> -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://res.cloudinary.com/dt5xxftc5/image/upload/v1666083277/webApp/photo_q4cq9t.png" id="userProfileIMG" alt="Users profile image"/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input id="fileupload" type="file" name="fileupload" oninput="uploadFile();" />

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5 style="font-size: 20px;">
                                        <div style="display: block ruby;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p id="userName">Kshiti Ghelani</p>
                                                    <input type="text" value="" id="userNameInput" class="form-control fl-name hide" style="width: 200px;">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p id="userProf">Web Developer and Designer</p>
                                                    <input type="text" value="" id="userProfInput" class="form-control fl-name hide" style="width: 200px;">
                                                </div>
                                            </div>
                                        </div>
                                    </h5>
                                    <h6>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p id="userTitle">Web Developer and Designer</p>
                                                <input type="text" value="" id="userTitleInput" class="form-control fl-name hide" style="width: 200px;">
                                            </div>
                                        </div>
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link1" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" onclick="putSettings1()">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link2" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" onclick="putSettings2()">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" id="editBtn" onclick="editProfile()"/>
                        <input type="submit" class="profile-edit-btn hide" name="btnAddMore" value="Save" id="saveBtn"  onclick="save()"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Social media links</p>
                            <a href="">Facebook page</a><br/>
                            <a href="">Linkedin page</a><br/>
                            <a href="">Website</a>
                            <p>SKILLS</p>
                            <a href="">Web Designer</a><br/>
                            <a href="">Web Developer</a><br/>
                            <a href="">WordPress</a><br/>
                            <a href="">WooCommerce</a><br/>
                            <a href="">PHP, .Net</a><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="userID">Kshiti123</p>
                                                <input type="text" value="" id="userIDInput" class="form-control hide">
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-md-6">
                                                <label>name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="userName">Kshiti Ghelani</p>
                                                <input type="text" value="" id="userNameInput" class="form-control hide">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Last name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="userProf">Web Developer and Designer</p>
                                                <input type="text" value="" id="userProfInput" class="form-control hide">
                                            </div>
                                        </div> -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Contact email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="userEmail">kshitighelani@gmail.com</p>
                                                <input type="text" value="" id="userEmailInput" class="form-control hide">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="userPhone">123 456 7890</p>
                                                <input type="text" value="" id="userPhoneInput" class="form-control hide">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profile description</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="userDescription">My description bla bla blah</p>
                                                <textarea id="userDescriptionInput" class="form-control hide"> My description bla bla blah</textarea>
                                                <!-- <input type="" value="" id="userDescriptionInput" class="form-control hide"> -->
                                            </div>
                                        </div>
                                        
                                    </form>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div>
                            <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br/>
                                <p>Your detail description</p>
                            </div>
                            </div>
                            </div>
                            <!-- <form>
                                <p class="userName" id="userName">Username</p>
                                <input type="text" value="" id="userNameInput" class="hide">
                                <input type="button" value="save" id="saveBtn" class="hide" onclick="save()">
                            </form> -->
                        </div>
                    </div>
                </div>
            <!-- </form>            -->
        </div>
    </body>
</html>
