<!DOCTYPE html>
<html>
    <head>
        <title>User Profile
        </title>
        <script src="scripts/userProfile.js"></script>
        <script src="scripts/checkForToken.js"></script>
        <script src="scripts/userProfileEditField.js"></script>
        <script src="scripts/logout.js"></script>
        

        <link rel="stylesheet" href="css/userProfile.css">
        <link rel="stylesheet" href="css/navStyle.css">



        


        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    </head>
    <body onload="checkForToken();">
        <nav id="includedContent" class="main-menu">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa bi bi-house fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa bi bi-laptop fa-2x"></i>
                        <span class="nav-text">
                            Stars Components
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa bi bi-list-columns-reverse fa-2x"></i>
                        <span class="nav-text">
                            Forms
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa bi bi-folder2-open fa-2x"></i>
                        <span class="nav-text">
                            Pages
                        </span>
                    </a>
                    
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-file-earmark-bar-graph-fill fa-2x"></i>
                        <span class="nav-text">
                            Graphs and Statistics
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-boxes fa-2x"></i>
                        <span class="nav-text">
                            Quotes
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-clipboard fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-map fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa bi bi-info-lg fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
                <li id="userProfile">
                 
                </li>
            
            </ul>
          
 
            
            <ul class="logout" id="authreq">
    
                <!-- <li>
                    <a href="#">
                        <i class="fa bi bi-power fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li> -->
            </ul> 
            <ul class="login" id="authreq">
                <!-- <li>
                    <a href="#">
                        <i class="fa bi bi-box-arrow-in-right fa-2x"></i>
                        <span class="nav-text">
                            Login
                        </span>
                    </a>
                </li>   -->
            </ul> 
        </nav>
        <div class="container emp-profile">
            <!-- <form method="post"> -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        Kshiti Ghelani
                                    </h5>
                                    <h6>
                                        Web Developer and Designer
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link1" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" onclick="putSettings1()">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link2" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" onclick="putSettings2()">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" id="editBtn" onclick="editProfile()"/>
                        <input type="submit" class="profile-edit-btn hide" name="btnAddMore" value="Save" id="saveBtn"  onclick="save()"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>WORK LINK</p>
                            <a href="">Website Link</a><br/>
                            <a href="">Bootsnipp Profile</a><br/>
                            <a href="">Bootply Profile</a>
                            <p>SKILLS</p>
                            <a href="">Web Designer</a><br/>
                            <a href="">Web Developer</a><br/>
                            <a href="">WordPress</a><br/>
                            <a href="">WooCommerce</a><br/>
                            <a href="">PHP, .Net</a><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="userID">Kshiti123</p>
                                                <input type="text" value="" id="userIDInput" class="form-control hide">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="userName">Kshiti Ghelani</p>
                                                <input type="text" value="" id="userNameInput" class="form-control hide">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="userEmail">kshitighelani@gmail.com</p>
                                                <input type="text" value="" id="userEmailInput" class="form-control hide">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="userPhone">123 456 7890</p>
                                                <input type="text" value="" id="userPhoneInput" class="form-control hide">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profession</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="userProf">Web Developer and Designer</p>
                                                <input type="text" value="" id="userProfInput" class="form-control hide">
                                            </div>
                                        </div>
                                        
                                    </form>
                            </div>
                            <!-- <form>
                                <p class="userName" id="userName">Username</p>
                                <input type="text" value="" id="userNameInput" class="hide">
                                <input type="button" value="save" id="saveBtn" class="hide" onclick="save()">
                            </form> -->
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hourly Rate</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10$/hr</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Total Projects</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>230</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>English Level</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Availability</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6 months</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br/>
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </form>            -->
        </div>
    </body>
</html>
